.floor-plan-container {
    padding: 20px;
    text-align: center;
  }
  
  .floor-plan-svg {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .room-group {
    cursor: pointer;
  }
  
  .room-group:hover rect {
    fill: #2196F3 ;
  }
  
  .room-group:hover {
    transform: scale(1.05);
  }
  